body {
background-image:url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/103.jpg);
background-size:cover;
}

section {
background-color: rgb(255,255,255);
opacity:0.4;
height: 500px;
width: 100%;
margin-top:300px;
margin-bottom:300px;
position:absolute;
}

h1 {
  color:white;
  font-size:29px;
  
}
