body {
background-image:url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/103.jpg);
background-size:cover;
}

section {
background-image:
background: rgb(255,207,155);
opacity:30%;
height: 500px;
width: 100%;
}
